<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title_text %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>20163023 이재민 기말고사</h1>
    <h1><%= title_text %></h1>

    <button type="button" onclick="location.href='/api-docs' "> API SEVER </button>
<!-- 
    <br><br>
    <button type="button" onclick="location.href='/users/list' "> 회원 전체 보기 </button>
    <button type="button" onclick="location.href='/users/login ' "> 로그인 </button>

    <br><br>
    <button type="button" onclick="location.href='/game/game ' "> 게임 플레이 </button>
    <button type="button" onclick="location.href='/game/game-history ' "> 개인 기록 </button>
    <button type="button" onclick="location.href='/game/game-ranking ' "> 게임 랭킹 </button> -->


  </body>
</html>
